<div class="col-md-12">
  <div class="group">
    <%= link_to 'New Post', new_group_post_path(@group), class: "btn btn-warning pull-right" %>
    <%= link_to("Edit", edit_group_path(@group), class: "btn btn-primary pull-right")%>
  </div>
  <h2><%= @group.title %></h2>
  <p><%= @group.description %></p>

  <!-- ***************   simple version  ********************-->
  <hr>Simple Version
  <ul>
  <% @posts.each do |post| %>
    <li><%= post.content%>
        <%= link_to 'edit', edit_group_post_path(@group, post) %>
        <%= link_to 'delete', group_post_path(@group, post), method: :delete, data: {confirm: "Are you sure?"} %>
    </li>
  <% end %>
  </ul>

  <!-- ***************   rails101s version  ********************-->
  <hr>Rails101s Version<h1>TODO</h1>
  <table class="table">
    <thead>
      <tr>
        <th>Post</th>
        <th colspan="2">operations</th>
      </tr>
    </thead>
    <tbody>
      
      <% @posts.each do |post| %>
        <tr>
          <td><%= post.content %></td>
          <td>

            <% if post.show_for_user?(current_user) %>
            <%= link_to 'Edit', edit_group_post_path(@group, post),
                        class: "btn btn-default btn-xs" %>
            <%= link_to 'Delete', group_post_path(@group, post), method: :delete, class: "btn btn-default btn-xs", data: {confirm: "Are you sure?"} %>
            <% end %>


          </td>
        </tr>
      <% end %>

    </tbody>
    



  </table>
</div>
